# Dependencies
**/node_modules/

# Next.js
**/.next/
**/out/
**/build/

# Backend
backend/dist/

# Environments
**/.env
**/.env.local
**/.env.production

# Logs
*.log

# OS
.DS_Store

# Editor
.vscode/
.idea/

# TypeScript
**/next-env.d.ts
**/tsconfig.tsbuildinfo
