# Backend API manzili

# Production (Render):
NEXT_PUBLIC_API_URL=https://educode-backend.onrender.com

# Lokalda ishlatish uchun (backend lokalda ishlasa):
# NEXT_PUBLIC_API_URL=http://localhost:8080
