# 3 ta panel app'larining URL'lari
# Lokalda:
NEXT_PUBLIC_STUDENT_URL=http://localhost:3001
NEXT_PUBLIC_TEACHER_URL=http://localhost:3002
NEXT_PUBLIC_ADMIN_URL=http://localhost:3003

# Production (Vercel deploy'lardan keyin):
# NEXT_PUBLIC_STUDENT_URL=https://educode-student.vercel.app
# NEXT_PUBLIC_TEACHER_URL=https://educode-teacher.vercel.app
# NEXT_PUBLIC_ADMIN_URL=https://educode-admin.vercel.app
