# Backend API manzili

# Production (Railway):
NEXT_PUBLIC_API_URL=https://durdona-bmi-production-bdaf.up.railway.app

# Lokalda ishlatish uchun (backend lokalda ishlasa):
# NEXT_PUBLIC_API_URL=http://localhost:8080
